<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium qui a consectetur officiis veniam possimus fugit ea in similique dolor architecto, quaerat beatae ducimus nemo explicabo rerum eum ex sed.
      Officiis optio fugiat quas nesciunt ipsa porro. Laudantium eum reiciendis, debitis quos provident cumque? Deserunt adipisci earum fugiat. Minima nulla totam consectetur unde et ad eveniet minus ipsa fugit quis.
      Officia ullam exercitationem neque a illum. Nam iusto aspernatur sapiente velit veniam delectus quidem consectetur, fuga id rerum dolore fugiat mollitia, dolorum atque cumque libero est autem pariatur numquam fugit.
      Maiores unde ullam deserunt natus nostrum nihil esse autem veritatis delectus cupiditate dolores accusantium nobis alias id, maxime numquam eligendi. Repudiandae quos voluptate voluptatem enim illum, est veniam facere accusamus?
      Dolor ratione expedita et aliquam repudiandae reiciendis rerum praesentium. Labore non harum qui libero est iusto impedit necessitatibus at perspiciatis, sequi accusamus laboriosam architecto, reiciendis rerum cupiditate vero delectus aperiam.
      Aut animi repudiandae voluptates excepturi magni, quasi facere delectus debitis in eius laboriosam similique praesentium doloribus voluptatibus accusantium blanditiis rem officia, molestias, optio cupiditate harum? Ea alias iusto distinctio blanditiis!
      Provident debitis facilis hic laborum, corrupti commodi vitae ipsa accusamus necessitatibus dolorum similique, nihil, perferendis expedita! Error dolore voluptatum unde maxime fugit beatae illo, aspernatur quod minus voluptate neque natus?
      Numquam, similique. Minus natus modi corporis eius laudantium amet, iure nobis. Quaerat adipisci, ducimus itaque fugit dignissimos voluptates perferendis accusantium? Magnam, ducimus! Eaque, commodi hic. Rem in odit iure modi?
      Libero doloremque, tempora iusto quaerat possimus magnam, iure totam harum neque modi accusamus sint eos earum doloribus cupiditate ea? Recusandae sed veritatis nesciunt odio commodi nemo quaerat quidem facilis quisquam.
      Dolores, incidunt porro! Natus quae sit in, dolores doloribus mollitia, dicta rem possimus consectetur, porro non optio deleniti consequuntur! Alias veniam quod, reiciendis quia a tenetur eius quisquam consequatur minima!
      Deserunt voluptatem impedit esse ullam, ipsa minima voluptatum quam! Rem maiores quidem, vel numquam unde, ad et optio sit ipsum earum similique eaque? Nam quae consequuntur corrupti adipisci, voluptate a!
      Libero quos nam, vitae nemo deserunt eius delectus omnis eaque recusandae cumque id et ex repudiandae tempora? Eaque odit impedit blanditiis doloribus, eius adipisci sequi voluptatum aliquid, molestiae, dolore cumque.
      Quos nobis velit non quod voluptates atque odit, quia fugit enim necessitatibus dolore asperiores in doloribus. Doloribus eos ducimus obcaecati consequatur minima tenetur quam rerum! Eveniet possimus necessitatibus fuga enim!
      Voluptatibus ex expedita architecto, ratione libero facilis laboriosam nihil deleniti id itaque ut placeat nisi dolores! Eaque incidunt, ab aperiam molestiae earum, reprehenderit at corrupti rerum, aspernatur laborum sint ex.
      Voluptatum, deserunt nobis a architecto rerum ducimus. Fugiat aliquam a non molestiae eos reiciendis distinctio neque delectus atque iure fugit debitis minus, minima iusto ipsa sapiente laboriosam vel. Dicta, maiores?
      Nemo nihil architecto ratione obcaecati ex aliquid at odit consequuntur. Dolores, dolore debitis mollitia facilis dignissimos voluptates est suscipit pariatur earum doloribus? Recusandae necessitatibus consequatur illo maiores, sint molestiae rem!
      Obcaecati, quae suscipit non dicta quos, repellendus omnis dolorem aperiam velit natus enim voluptatibus ab itaque error facilis, delectus ad voluptate! Dolor, numquam. Ratione officiis ullam numquam facilis omnis incidunt.
      Corrupti in porro tenetur delectus modi, eaque cumque labore nulla dolor, mollitia error impedit nam, a similique! Eum dignissimos perspiciatis voluptatibus nihil cum aliquam porro consectetur voluptate, quos iure nulla!
      Ipsam nam expedita eveniet saepe voluptas debitis nesciunt, perferendis inventore delectus et magnam alias, dolores vel, voluptatibus quasi vero id iste perspiciatis impedit! Minima architecto tempora voluptas asperiores delectus reiciendis!
      Ducimus enim, repellat veritatis ut voluptatem velit nulla quae amet, at sapiente recusandae omnis. Laboriosam debitis molestias sit modi adipisci sapiente voluptates facere distinctio sunt molestiae placeat, praesentium nam architecto.
      Ratione corporis dolores repudiandae, ipsam beatae reiciendis. Magnam qui nam veniam delectus adipisci sed quasi beatae reiciendis exercitationem quas cupiditate facere, suscipit sapiente odit, sit quibusdam quam doloremque sequi vitae.
      Dolore eos delectus consequuntur veritatis corporis reiciendis pariatur harum consectetur incidunt, enim voluptatum odio quidem itaque alias ullam. Officia suscipit numquam repellendus laudantium dolorem nostrum vitae, vero aperiam nisi consequatur?
      Est vero vel voluptate repudiandae, sunt voluptatum reiciendis alias. 
    </div>
  </div>
</div>